
<div class="main-content">

    <div class="wrapper">
        <div class="one"> <iframe width="420" height="315"
            src="https://www.youtube.com/embed/XGSy3_Czz8k?controls=1">
        </iframe>
        <p>Titre de la chanson</p>
        <p>23329049838934 vues</p>
        </div>
        <div class="two">Deux</div>
        <div class="four">Quatre</div>
        <div class="infos">
            <p><a class="navbar-brand" href="#"><%= link_to image_tag("lol.jpg", :size => "50x50", class: "mini-artist"), method: :post %>
            </a>Nicolas <br>  vidéo ajoutée le 3 octobre</p>

        </div>
        <div class="three">
            <p>Comments</p>
            <p>Lorem ipsum dolor est apofjzefjz jdizj pjzoapj   jezajezai  jeiza ji ezja</p>
        </div>
    </div>
</div>
    